.body {
  /* background-image: url("~/assets/images/exp03.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e8e8e4;
}


.work-chn:hover span {
  display: none;
}

.work-chn:hover:before {
  content: "工作";
}

.services-chn:hover span {
  display: none;
}

.services-chn:hover:before {
  content: "服务";
}


.about-chn:hover span {
  display: none;
}

.about-chn:hover:before {
  content: "关于我们";
}

.contact-chn:hover span {
  display: none;
}

.contact-chn:hover:before {
  content: "接触";
}

.testimonials-chn:hover span {
  display: none;
}

.testimonials-chn:hover:before {
  content: "推荐信";
}

.digital-chn:hover span {
  display: none;
}

.digital-chn:hover:before {
  content: "数字的";
}

.pricing-chn:hover span {
  display: none;
}

.pricing-chn:hover:before {
  content: "价钱";
}

#menu-toggle:checked + #menu {
  display: block;
}

.hvr:hover {
  border: #000000 solid;
  color: #000;
  background: #fff;
}

.btn-padding {
  padding: 1.38rem;
}

.new-fnt-color {
  color: #00A773;
}

.main-bg {
  background-color: #1E1E1E;
}

/* .red-bg {
  background-color: #EE4B2B;
} */